.container-github-card {
    width: 100%;
    justify-content: center;
    display: flex;
    cursor: none;
    overflow: hidden;
    pointer-events: none;
  }
  .container-github-card-placeholder{
    width: 300px;
    height: 400px;
    border-radius: 1%;
  }
